.DS_Store
silva.nr_v138_1
.Rproj.user
.Rhistory
.RData
.Ruserdata
bin-me
__pycache__
.~lock*
old
run_ml.txt


# Intermediate mothur files
mothur.*.logfile
preprocessing/*/*_asvs.fasta
preprocessing/*/*.align
preprocessing/*/*.align_report
preprocessing/*/*.filter
preprocessing/*/*.flip.accnos


# ML Results files
all_data
datasets
datasets_transformation_comparison
*.pkl

# Misc
phyloseq_objects2

# Throw away scripts
verify_trunc_subseqs.R

